.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}

.App-link {
  color: #61dafb;
}

.cart{
  width: 30px;
  height: 30px;
  text-align: center;
}
.NavBar{
  display: flex;
  justify-content: space-between;
  margin: 1rem;
  padding: 1rem;
  background-color: rgb(40, 56, 95);
  color: white;
}
.Categorias{
  display: flex;
  gap: 1rem;
}
.Option{
  text-decoration: none;
}
a,h3{
  text-decoration: none;
  color: #64676f;
}
.Carrito{
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
.ListGroup{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.CardItem{
  width: 500px;
  border-radius: 10%;
}
.ItemFooter{
  color: #282c34;
}
.ItemDetailContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}
.Controls{
  display: flex;
  gap: .8rem;
  align-items: center;
  justify-content: center
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
